build
CMakeCache.txt
msg_gen
bin
lib
*~
cfg/cpp/*
.project
.cproject
.settings
doc


/msf_core/docs/MSF_CoreConfig.dox
/msf_core/docs/MSF_CoreConfig-usage.dox
/msf_core/docs/MSF_CoreConfig.wikidoc
/msf_core/cfg/cpp/msf_core/MSF_CoreConfig.h
/msf_core/cfg/parameters.cfgc
/dataset.bag
/msf_core/src/msf_core/cfg/__init__.py
/msf_core/src/msf_core/cfg/MSF_CoreConfig.py
/msf_core/src/msf_core/__init__.py
/msf_updates/src/msf_updates/__init__.py
/msf_updates/src/msf_updates/msg/__init__.py
/msf_updates/src/msf_updates/msg/_PositionWithCovarianceStamped.py
