build
CMakeCache.txt
msg_gen
/bin
/lib
msf_core/lib
msf_updates/lib
msf_simulator/lib
msf_timing/lib
msf_core/bin
msf_updates/bin
msf_simulator/bin
msf_timing/bin
msf_core/build
msf_updates/build
msf_simulator/build
msf_timing/build
*~
msf_core/cfg/cpp/
.project
.cproject
.settings
doc
html
documentation
*.cfgc
*.dox
*.wikidoc
*.cfgc
cfg/__init__.py

