[project]
	description = MSF - Modular framework for multi sensor fusion
[access "refs/*"]
	owner = group user/Simon Lynen (simonlynen)
[access "refs/for/refs/*"]
	read = group user/Simon Lynen (simonlynen)
	push = group user/Simon Lynen (simonlynen)
	label-Code-Review = -2..+2 group user/Simon Lynen (simonlynen)
	label-Verified = -1..+1 group user/Simon Lynen (simonlynen)
	rebase = group user/Simon Lynen (simonlynen)
	removeReviewer = group user/Simon Lynen (simonlynen)
	submit = group user/Simon Lynen (simonlynen)
[access "refs/heads/*"]
	read = group user/Simon Lynen (simonlynen)
	create = group user/Simon Lynen (simonlynen)
	push = +force group user/Simon Lynen (simonlynen)
	pushMerge = group user/Simon Lynen (simonlynen)
[access "refs/tags/*"]
	push = +force group user/Simon Lynen (simonlynen)
	pushTag = group user/Simon Lynen (simonlynen)
	pushSignedTag = group user/Simon Lynen (simonlynen)
