<launch>
    <node name="pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
            <remap from="msf_core/imu_state_input" to="imu0" />
            <remap from="msf_updates/pose_with_covariance_input" to="/aslam/aslam_pose" />

            <rosparam file="$(find msf_updates)/aslam_sensor_fix.yaml"/>
    </node>
</launch>
