<launch>
    

    <node  launch-prefix="gdb -ex run --args" name="msf_position_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <remap from="msf_core/hl_state_input" to="/fcu/ekf_state_out" />
        <remap from="msf_core/correction" to="/fcu/ekf_state_in"/>
  			
        <remap from="msf_core/imu_state_input" to="/imu0" />

        <remap from="msf_updates/transfomr_input" to="rovio/transform" />
        <rosparam file="$(find msf_updates)/position_pose_tol_sensor_fix.yaml"/>
    
    </node>
    
    <node name="rovio" pkg="rovio" type="rovio_node" output="screen">
        <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
        <param name="camera0_config" value="$(find rovio)/cfg/euroc_cam0.yaml"/>
        <param name="camera1_config" value="$(find rovio)/cfg/euroc_cam1.yaml"/>
    	<remap from="cam0/image_raw" to="cam0/image_raw"/>
        <remap from="cam1/image_raw" to="cam1/image_raw"/>
    	<remap from="imu0" to="imu0"/>
    	<param name="world_frame" value="odom"/>
    	<param name="capability_group" value="Rovio" />
    </node>

</launch>
