<launch>

 <node name="msf_position_sensor" pkg="msf_updates" type="position_sensor" clear_params="true" output="screen">
       <remap from="msf_core/imu_state_input" to="/imu0" />
       <remap from="msf_updates/position_input" to="/noise_drift_handler/position_output" />
       <rosparam file="$(find msf_updates)/params/position_vanilla_MH/msf_sensor_fix.yaml"/>
       <param name="capability_group" value="MSF"></param>
 </node>
 
    <node name="pos_to_error" pkg="msf_updates" type="pos_to_error.py" output="screen">
        <remap from="pos_to_error/datainput" to="msf_core/state_out"/>
        <remap from="pos_to_error/truthinput" to="/leica/position"/>
        <rosparam file="$(find msf_updates)/params/position_vanilla_MH/pos_to_error_fix.yaml"/>
    </node>
    
    <node name="noise_drift_handler" pkg="msf_updates" type="noise_drift_handler.py" output="screen">
        <remap from="noise_drift_handler/position_input" to="/leica/position"/>
        <rosparam file="$(find msf_updates)/params/position_vanilla_MH/noise_drift_handler_fix.yaml"/>
    </node>
</launch>
