<launch>
    <node name="leica_filter" pkg="msf_updates" type="position_sensor" clear_params="true" output="screen">
<remap from="msf_core/hl_state_input" to="/bluebird/fcu/ekf_state_out" />
            <remap from="msf_core/correction" to="/bluebird/fcu/ekf_state_in"/>

	    <remap from="msf_core/position_input" to="/leica/position" />

            <rosparam file="$(find pose_filter_updates)/leica_filter_fix.yaml"/>
    </node>
</launch>

