<launch>
    
    <node  name="msf_position_pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
  			
        <remap from="msf_core/imu_state_input" to="/imu0" />
        <rosparam file="$(find msf_updates)/pose_sensor_test_fix.yaml"/>
        <remap from="msf_updates/pose_with_covariance_input" to="rovio/pose_with_covariance_stamped" />

        <param name="capability_group" value="MSF" />
    
    </node>    

    <node name="rovio" pkg="rovio" type="rovio_node" output="screen">
        <param name="filter_config" value="$(find rovio)/cfg/rovio.info"/>
        <param name="camera0_config" value="$(find rovio)/cfg/euroc_cam0.yaml"/>
        <param name="camera1_config" value="$(find rovio)/cfg/euroc_cam1.yaml"/>
    	<remap from="cam0/image_raw" to="cam0/image_raw"/>
		<remap from="cam1/image_raw" to="cam1/image_raw"/>
    	<remap from="imu0" to="imu0"/>
    	<param name="world_frame" value="odom"/>
    	<param name="capability_group" value="Rovio" />

    </node>
    
    <node name="pos_error_leica" pkg="msf_updates" type="pos_error_leica.py" output="screen">
        <remap from="pos_error_leica/datainput" to="msf_core/state_out"/>
        <remap from="pos_error_leica/truthinput" to="/leica/position"/>
        <rosparam file="$(find msf_updates)/pos_error_leica_fix.yaml"/>
    </node>

</launch>
