<launch>
    <node name="msf_velocity_sensor" pkg="msf_updates" type="velocity_sensor" clear_params="true" output="screen">
           <remap from="msf_core/imu_state_input" to="/versavis/imu" />
           
          <!-- <remap from="msf_updates/twist_with_covariance_stamped_input" to="/linear_velocity" /> -->
            <remap from="msf_updates/optical_flow_input" to="/optical_flow" />
          <rosparam file="$(find msf_updates)/velocity_sensor_fix.yaml"/>
    </node>

    <!-- <node name="pose_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
        <rosparam file="$(find msf_updates)/pose_sensor_fix.yaml"/>
        <remap from="msf_core/imu_state_input" to="/versavis/imu" />
        <remap from="msf_updates/transform_input" to="/layouter/vrpn_client/estimated_transform" />
    </node> -->
</launch>
