<launch>
    <node ns="bluebird" name="msf_viconpos_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
            <remap from="msf_core/hl_state_input" to="fcu/ekf_state_out" />
			<remap from="msf_core/correction" to="fcu/ekf_state_in" />
			<param name="capability_group" value="Sensor Fusion"></param>

            <rosparam file="$(find msf_updates)/viconpos_sensor_fix.yaml"/>
    </node>
</launch>
