<launch>
    <node  launch-prefix="gdb -ex run --args" name="msf_viconpos_sensor" pkg="msf_updates" type="pose_sensor" clear_params="true" output="screen">
            <!--remap from="msf_core/imu_state_input" to="/auk/fcu/imu" /-->
            <!--remap from="msf_updates/transform_input" to="vicon/auk/auk" /-->

            <remap from="msf_core/imu_state_input" to="imu0" />
            <remap from="msf_updates/transform_input" to="/vicon/SLAM_SENSOR_P0/SLAM_SENSOR_P0" />

          <!--remap from="msf_core/state_out" to="/ref/msf_core/state_out" /-->
          
            <rosparam file="$(find msf_updates)/viconpos_sensor_fix.yaml"/>
    </node>
</launch>
